body { 
    max-width: 60%; 
    margin: 8px auto; 
}

div.contents { 
    border: 2px solid #5d9ddd; /*#609af0;  */
    padding: 1px;  
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    border: 1px solid #d5d5d5;
    font-family: Verdana, DejaVu Sans, BitStream Vera Sans, Arial, sans-serif;
    background: #fcfcfc;
}

td.section { 
     font-size: 110%; 
     color: #609af0; 
     font-weight: bold; 
     text-align: center; 
     background: #d0e0ff; /* #257ada; */
}

tr.alert {  
     color: #EE3344; 
     font-weight: bold;
     background: #f2f2f2;
}

